/* BG */
:root {
    --main-bg: #2a3447;
    --soft-bg: #384256;
    --dark-bg: #222b3c;
  }
  
  /* TEXT */
  :root {
    --main-color: rgb(0, 0, 0);
    --soft-color: #000000;
    --dark-color: #2a3447;
  }
  
  /* Example usage */
  body {
    background-color: var(--main-bg);
    color: var(--main-color);
  }
  